################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Example
/Example/bin/Debug/net8.0
/Example/obj
